// - VARIABLES -
$infoUserContainer:#FBFBFB;

.info-user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: $infoUserContainer;
    
    &__icon-background {
        padding: 15px;
        border-radius: 5px;
    }

    &__data {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        &__value {
            margin-bottom: 5px;
            font-size: 17px;
            font-weight: bold;
        }
    }
}