// - VARIABLES -
$profileFirstName: #FF0101;
$profileInfocontainer:#FBFBFB;
$profileInfoBackground:#FBEAEA;
$profileInfoBackgroundTwo:#4AB8FF1A;
$profileInfoBackgroundThree:#FBF6E5;
$profileLineChartBackground:#FF0000;
$profileRadarChartBackground:#282D30;

// - FACTORED -
.profile-icon-one {
    background-color: $profileInfoBackground;
}

.profile-icon-two {
    background-color: $profileInfoBackgroundTwo;
}

.profile-icon-three {
    background-color: $profileInfoBackgroundThree;
}

// Class profile
.profile {
    border: 2px solid orange;
    margin: auto;
    margin-top: 0;
    height: 100%;

    &__first-name {
        color: $profileFirstName;
    }

    &__container {
        border: 2px solid purple;
        display: flex;

        &__chart {
            border: 2px solid blue;
            display: flex;
            flex-wrap: wrap;
            width: 660px;

            &__line-chart{
                background-color: $profileLineChartBackground;
                border-radius: 5px;
            }

            &__radarChart {
                background-color: #282D30;
                border-radius: 5px;
            }
        }

        &__performance {
            
            &__info {
                border: 2px solid red;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 20px;
                background-color: $profileInfocontainer;
                
                &__icon-background {
                    border: 2px solid blue;
                    padding: 15px;
                    border-radius: 5px;
                }
    
                &__data {
                    border: 2px solid orange;
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
    
                    &__value {
                        margin-bottom: 5px;
                        font-size: 17px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}