// - VARIABLES -
$profileFirstName: #FF0101;
$profileInfoBackground:#FBEAEA;
$profileInfoBackgroundTwo:#4AB8FF1A;
$profileInfoBackgroundThree:#FBF6E5;

// - FACTORED -
.profile-icon-one {
    background-color: $profileInfoBackground;
}

.profile-icon-two {
    background-color: $profileInfoBackgroundTwo;
}

.profile-icon-three {
    background-color: $profileInfoBackgroundThree;
}

// Profile Page
.profile {
    margin: auto;
    margin-top: 0;
    height: 100%;

    &__first-name {
        color: $profileFirstName;
    }

    &__container {
        display: flex;

        &__chart {
            display: flex;
            flex-wrap: wrap;
            width: 870px;
        }

        &__performance {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

// Desktop format 1200px max
@media screen and (max-width: 1200px) {

    // Profile Page
    .profile {

        &__container {
            display: block;

            &__chart {
                margin-bottom: 15px;
            }

            &__performance {
                flex-direction: row;
            }
        }
    }
}