// - VARIABLES -
$menuBackground: #020203;
$menuText: #FFFFFFFF;
$menuIcon: #FFFFFFFF;

// Navigation class
.menu {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100vh;
    min-height: 500px;
    border: 2px solid red;
    background-color: $menuBackground;
    color: $menuText;
    overflow: hidden;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 90px;
        height: 100%;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            width: 64px;
            height: 64px;
            border-radius: 6px;
            background-color: $menuIcon;
            cursor: pointer;

            &__image {
                width: 36px;
                height: 32px;
            }
        }

        &__text {
            display: flex;
            position: absolute;
            bottom: 70px;
            width: 140px;
            transform: rotate(-90deg);
            font-size: 12px;
        }
    }
}